<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <p><%= @comment.owner.name %> commented <%= @comment.activity.title %><br/>
       <%= @comment.content %>
    </p>
    <p>More details:<br/>
       <%= link_to activity_url(@comment.activity), activity_url(@comment.activity) %>
    </p>
    <p style="font-size:11px"><%= link_to 'Unsubscribe', edit_user_url(@user) %> from this mailing list.</p>
  </body>
</html>
