<h1>Configure email notifications</h1>

<%= form_for(@user) do |f| %>
  <%= render 'shared/error_messages', :object => f.object %>
  <h3>Receive email when:</h3>
  <div class="field">
    <%= f.check_box :friend_notification %>
    <%= f.label 'someone send you friend request' %>
  </div>
  <div class="field">
    <%= f.check_box :activity_notification %> 
    <%= f.label 'friend creates new activity' %>
  </div>
  <div class="field">
    <%= f.check_box :comment_notification %>
    <%= f.label 'someone comment activities you attend' %>
  </div>
  <div class="actions">
    <%= f.submit "Update" %>
  </div>
<% end %>
