<table class="profile" summary="Profile information">
  <tr>
    <td class="main">
        <%= image_tag(@user.get_pic_square) unless
          @user.get_pic_square.empty? %>
        &nbsp;
      <h1>
        <%= @user.name %>
      </h1>
      <%= render 'friend_form' if signed_in? %>
      <% unless @activities.nil? or @activities.empty? %>
        <table class="activities" summary="User activities">
          <%= render @activities %>
        </table>
        <%= will_paginate @activities %>
      <% end %>
    </td>
    <td class="sidebar round">
      <strong>Name</strong> <%= link_to @user.name, @user %><br />
      <strong>Location</strong> <%= @user.location %><br />
      <strong>Activities</strong> <%= @user.activities.count %><br />
      <%= render 'shared/stats' %>
      <%= render 'attendances' %>
    </td>
  </tr>
</table>

