<table class="profile" summary="Profile information">
  <tr>
    <td class="main">
      <h1>
        <%= @user.name %>
      </h1>
      <%= render 'follow_form' if signed_in? %>
      <% unless @user.activities.nil? or @user.activities.empty? %>
        <table class="activities" summary="User activities">
          <%= render @activities %>
        </table>
        <%= will_paginate @activities %>
      <% end %>
    </td>
    <td class="sidebar round">
      <strong>Name</strong> <%= link_to @user.name, @user %><br />
      <strong>Location</strong> <%= @user.location %><br />
      <strong>Activities</strong> <%= @user.activities.count %><br />
      <%= render 'shared/stats' %>
      <%= render 'attendances' %>
    </td>
  </tr>
</table>

