<% @feed_items.each do |activity| %>
  <% unless !activity.starts_at.nil? and activity.starts_at.past? %>
    <tr>
      <td>
        <strong><%= link_to activity.title, activity %></strong>
        <%= activity.title %>
        <%= activity.location %>
        <% unless activity.starts_at.nil? %>
          <%= activity.starts_at.strftime("%c") %>
        <% end %>
        <%= render :partial => "activities/attend_form", :locals => {:activity => activity} %>
      </td>
    </tr>
  <% end %>
<% end %>

