<% if signed_in? %>
  <table class="front" summary="For signed-in users">
    <tr>
      <td class="main">
        <h1 class="activity">What's up?</h1>
        <%= render 'shared/activity_form' %>
      </td>
      <td class="sidebar round">
      <strong>Name</strong> <%= link_to current_user.name, @user %><br />
      <strong>Location</strong> <%= current_user.location %><br />
      <strong>Activities</strong> <%= current_user.activities.count %>
    </td>
    </tr>
  </table>
  <table>
    <%= render :partial => "activities" %>
  </table>
  <%= will_paginate @activities %>
<% else %>
  <h1>Welcome to Anyone4?</h1>
  <%= link_to "Sign up now!", signup_path, :class => "signup_button round" %>
<% end %>

