<% if signed_in? %>
  <table class="front" summary="For signed-in users">
    <tr>
      <td class="main">
        <h1 class="activity">What's your plan</h1>
        <%= render 'shared/activity_form' %>
      </td>
      <td class="sidebar round">
      <strong>Name</strong> <%= link_to current_user.name, @user %><br />
      <strong>Location</strong> <%= current_user.location %><br />
      <strong>Activities</strong> <%= current_user.activities.count %>
      <%= render :partial => "shared/stats" %>
    </td>
    </tr>
  </table>
   <%= render :partial => "activities" %>
  <%= will_paginate @feed_items %>
<% else %>
  <h1>Welcome to Anyone4?</h1>
  <%= link_to "Sign in with Facebook", 'https://www.facebook.com/dialog/oauth?client_id=109791605757634&redirect_uri=http://www.anyone4.com/login/facebook&scope=email', :class => "signup_button round" %>
<% end %>

